<% if @player.number == 3 %>
  <%= "1 #{@player.name1} vs #{@player.name2}"%>
  <%= "2 #{@player.name2} vs #{@player.name3}"%>
  <%= "3 #{@player.name1} vs #{@player.name3}"%>
<% end %>

<% if @player.number == 4 %>
  <%= "1 #{@player.name1} vs #{@player.name4}"%>
  <%= "2 #{@player.name2} vs #{@player.name3}"%>
  <%= "3 #{@player.name1} vs #{@player.name3}"%>
  <%= "4 #{@player.name2} vs #{@player.name4}"%>
  <%= "5 #{@player.name1} vs #{@player.name2}"%>
  <%= "6 #{@player.name3} vs #{@player.name4}"%>
<% end %>

<% if @player.number == 5 %>
  <%= "1 #{@player.name1} vs #{@player.name2}"%>
  <%= "2 #{@player.name3} vs #{@player.name4}"%>
  <%= "3 #{@player.name5} vs #{@player.name1}"%>
  <%= "4 #{@player.name2} vs #{@player.name3}"%>
  <%= "5 #{@player.name5} vs #{@player.name4}"%>
  <%= "6 #{@player.name1} vs #{@player.name3}"%>
  <%= "7 #{@player.name2} vs #{@player.name5}"%>
  <%= "8 #{@player.name4} vs #{@player.name1}"%>
  <%= "9 #{@player.name3} vs #{@player.name5}"%>
  <%= "10 #{@player.name4} vs #{@player.name2}"%>
<% end %>

<% if @player.number == 6 %>
  <%= "1 #{@player.name1} vs #{@player.name2}"%>
  <%= "2 #{@player.name4} vs #{@player.name3}"%>
  <%= "3 #{@player.name6} vs #{@player.name5}"%>
  <%= "4 #{@player.name3} vs #{@player.name1}"%>
  <%= "5 #{@player.name2} vs #{@player.name6}"%>
  <%= "6 #{@player.name5} vs #{@player.name4}"%>
  <%= "7 #{@player.name1} vs #{@player.name6}"%>
  <%= "8 #{@player.name3} vs #{@player.name5}"%>
  <%= "9 #{@player.name4} vs #{@player.name2}"%>
  <%= "10 #{@player.name5} vs #{@player.name1}"%>
  <%= "11 #{@player.name6} vs #{@player.name4}"%>
  <%= "12 #{@player.name2} vs #{@player.name3}"%>
  <%= "13 #{@player.name1} vs #{@player.name4}"%>
  <%= "14 #{@player.name5} vs #{@player.name2}"%>
  <%= "15 #{@player.name3} vs #{@player.name6}"%>
<% end %>

<% if @player.number == 3 %>
<table class="table3">
<tr>
<th>NO</th>
<th><%= @player.name1 %></th>
<th><%= @player.name2 %></th>
<th><%= @player.name3 %></th>
<th>勝敗</th>
<th>突数</th>
<th>被突</th>
<th>指数</th>
<th>順位</th>
</tr>
 
<tr>
<th><%= @player.name1 %></th>
<td class="empty"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
</tr>
 
<tr>
<th><%= @player.name2 %></th>
<td><input type="text"></td>
<td class="empty"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
</tr>
 
<tr>
<th><%= @player.name3 %></th>
<td><input type="text"></td>
<td><input type="text"></td>
<td class="empty"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
</tr>
</table>

<% end %>


<% if @player.number == 4 %>

<table class="table4">
<tr>
<th>NO</th>
<th><%= @player.name1 %></th>
<th><%= @player.name2 %></th>
<th><%= @player.name3 %></th>
<th><%= @player.name4 %></th>
<th>勝敗</th>
<th>突数</th>
<th>被突</th>
<th>指数</th>
<th>順位</th>
</tr>
 
<tr>
<th><%= @player.name1 %></th>
<td class="empty"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
</tr>
 
<tr>
<th><%= @player.name2 %></th>
<td><input type="text"></td>
<td class="empty"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
</tr>
 
<tr>
<th><%= @player.name3 %></th>
<td><input type="text"></td>
<td><input type="text"></td>
<td class="empty"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
</tr>

<tr>
<th><%= @player.name4 %></th>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td class="empty"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
<td><input type="text"></td>
</tr>
</table>

<% end %>